.usa-banner {
  @include u-bg("primary-darker");
  @include u-margin-x(-1rem);
  &__header {
    @include u-text("base-lighter");
    @include u-font("sans", "2xs");
    @include u-padding-y(1);
    font-weight: 300;
    line-height: 1;
    &-text {
      display: flex !important;
      align-items: stretch;
    }
  }
  &__flag {
    @include u-margin-right(1);
  }
  &__content {
    @include u-text("white");
    @include u-font("sans", "md");
    @include u-padding(2);
    display: none;
    font-weight: 300;
    &.is-visible {
      display: block;
    }

    &-heading {
      @include u-color("accent-cool");
      font-weight: 600;
    }

    strong {
      font-weight: 700;
    }
  }
  &__button {
    &.usa-button {
      @include u-text("base-lighter");
      @include u-font("sans", "2xs");
      @include u-padding(1);
      @include u-border-color("base-lighter");
      text-align: center;
      line-height: 1;
      box-shadow: none;
      border: 1px solid;

      @include u-radius(2px);
      &:hover,
      &:focus {
        @include u-text("white");
        font-weight: 300;
        border: 1px solid white;
      }
      &:after {
        display: none;
      }
    }
  }
}
