.usa-card {
  &__container {
    overflow: hidden;
    @include u-bg("base-lightest");
    .usa-card--flat & {
      box-shadow: none;
      background-color: transparent;
    }
  }
  &__heading {
    @include u-font("sans", "sm");
    @include at-media("tablet") {
      @include u-font("sans", "lg");
    }
  }
  &__subhead {
    display: block;
    line-height: 1.1;
  }
  &__body {
    margin-top: 0;
    padding-top: 0;

    @include u-font("sans", "sm");
    @include at-media("tablet") {
      @include u-font("sans", "lg");
    }
  }
}
