.ColorBox {
  & > div {
    text-align: center;
    @include u-margin-top(6);
    @include u-padding-top(9);
    @include u-border(2);
    @include u-border-bottom(0);
    & > div {
      width: 40%;
      @include u-margin-x("auto");
      @include u-padding-top(6);
      @include u-border(1);
      @include u-border-bottom(0);
      & > div {
        width: 20%;
        @include u-margin-x("auto");
        @include u-padding-top(2);
        @include u-border(0.5);
        @include u-border-bottom(0);

        @include at-media("desktop") {
          @include u-padding-top(3);
        }
      }
    }
  }
  &.ColorBox__solid {
    & > div {
      @include u-border(0);
      & > div {
        @include u-border(0);
        & > div {
          @include u-border(0);
        }
      }
    }
  }
}
