.usa-footer {
  @include u-padding-top(5);
  @include u-bg("primary-dark");
  @include u-text("white");

  p {
    @include u-padding-y(1);
    @include u-margin-y(0);
    @include u-border-color("primary-light");
    @include u-border-top(1px);
    font-weight: 200;
    &:last-child {
      border-color: rgba(0, 0, 0, 0);
    }
  }
  a {
    @include u-text("white");
    position: relative;
    font-weight: 200;
    text-decoration-thickness: 1px;
    &:hover {
      @include u-color("white");
      text-decoration-thickness: 2px;
    }

    &.uswds-stamp {
      display: inline-block;
      padding: 3px 2px 0px;
      @include u-margin-top(1);
      line-height: 1;
      @include u-border(2px);
      @include u-border-color("base-lighter");
      @include u-text("base-lighter");
      text-decoration: none;
      font-weight: 600;
      &:after {
        display: none;
      }
    }
  }
}
