.GSAFooter {
  @include u-bg("accent-cool-darker");
  @include u-text("white");
  line-height: 1.5;

  a {
    @include u-text("white");
    position: relative;
    text-decoration-thickness: 1px;
    &:hover {
      @include u-color("white");
      text-decoration-thickness: 2px;
    }
  }
  p {
    @include u-margin-y(2);
  }

  &__header {
    @include u-padding-y(2);
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    @include u-margin-right(2);
    min-width: 64px;
    img {
      width: 64px;
      height: 64px;
    }
  }

  &__toggle {
    @include u-margin-top(2);
    width: 100%;
    @include at-media("tablet") {
      margin-top: 0;
      width: auto;
    }
    .fa-angle-down,
    .fa-angle-up {
      margin-left: 4px;
    }
  }

  &__content {
    @include u-padding-y(2);
  }

  &__links {
    @include u-padding-y(1);
    @include u-padding-x(3);
    background-color: #003c71;
    @include u-font("sans", "xs");
    ul {
      @include u-padding-left(3);
      li {
        @include u-margin-bottom(1);
      }
    }
  }
}
