.usa-footer {
  @include u-padding-top(4);

  &__links {
    flex-direction: column;
    @include u-padding-bottom("10");

    a {
      width: auto;
      @include u-margin-bottom(2);
    }

    @include at-media("desktop") {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
