.usa-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  float: none;
  text-align: left;
  @include u-padding-left(6);
  button {
    &:hover {
      cursor: pointer;
    }
  }
}

.usa-nav__footer {
  margin: 0;
  text-align: right;
}

.usa-nav-open {
  width: auto;
  @include at-media("desktop") {
    display: none;
  }
}

.usa-nav-close {
  @include at-media("desktop") {
    display: none;
  }
}
