<div class="color-white usa-accordion background-color-black-90 max-width-md margin-x-auto margin-top-0 margin-bottom-g1 md:margin-y-g1 padding-y-g1 padding-x-g2 min-height-g4">
  <div class="row align-items-center">
    <div class="color-white font-sans-f1 line-height-heading-loose sm:line-height-single row align-items-center width-100ct">
      <span class="margin-right-g105 font-sans-f10 sm:font-sans-f1 sm:margin-right-g1">:flag:</span>
      <span class="row align-items-center width-100ct">
        <span class="flex-fill">An official website of the <span class="whitespace-nowrap">United States government.</span></span>
        <button
          class="usa-accordion-button usa-banner-button color-black-cool-30 hover:color-white background-color-transparent border-1px border-bottom-colorlack-cool-70 border-radius-g05  margin-left-g2 sm:margin-left-g05 md:margin-top-0 font-sans-f1 line-height-single padding-y-g1 sm:padding-y-g05 padding-x-g1 hover:border-color-indigo-warm-50v width-g18 sm:width-auto align-items-stretch sm:min-height-g3 sm:min-width-g20"
          aria-expanded="false"
          aria-controls="gov-banner">
          <span class="usa-banner-button-text line-height-single margin-top-2px">Here’s how you know</span>
          <span class="usa-banner-button-text--open line-height-single margin-top-2px">Close this message</span>
        </button>
      </span>
    </div>
  </div>
  <div class="usa-accordion-content" id="gov-banner">
    <p class="font-weight-400 sm:font-weight-200 font-sans-f5 sm:font-sans-f7">
      <strong class="color-indigo-warm-40v">The .gov means it’s official.</strong>
      <br>
      Federal government websites often end in <strong class="font-mono-f5 sm:font-mono-f7">.gov</strong> or <strong class="font-mono-f5 sm:font-mono-f7">.mil</strong>. Before sharing sensitive information, make sure you're on a federal government site.
    </p>
    <p class="font-weight-400 sm:font-weight-200 font-sans-f5 sm:font-sans-f7">
      <strong class="color-indigo-warm-40v">The site is secure.</strong>
      <br>
      The <strong class="font-mono-f5 sm:font-mono-f7">https://</strong> in the site URL ensures that you are connecting to the official website and any information you provide is encrypted and securely transmitted.
    </p>
  </div>
</div>
