<div class="usa-accordion background-color-black-transparent-30 max-width-md margin-x-auto margin-t-0 margin-b-g1 md:margin-y-g1 padding-y-g1 padding-x-g2 min-height-g4">
  <div class="row align-items-center">
    <div class="color-white font-sans-12 line-height-2 sm:line-height-0 row align-items-center width-100ct">
      <span class="margin-r-g105 font-sans-24 sm:font-sans-12 sm:margin-r-g1">:flag:</span>
      <span class="row align-items-center width-100ct">
        <span class="flex-fill">An official website of the <span class="whitespace-nowrap">United States government.</span></span>
        <button
          class="usa-accordion-button usa-banner-button color-black-cool-30 hover:color-white background-color-transparent border-color-black-cool-70 border-radius-g05  margin-l-g2 sm:margin-l-g05 md:margin-t-0 font-sans-12 line-height-0 padding-y-g1 sm:padding-y-g05 padding-x-g1 hover:border-color-indigo-warm-50v width-g18 sm:width-auto align-items-stretch sm:min-height-g3 sm:min-width-g20"
          aria-expanded="false"
          aria-controls="gov-banner">
          <span class="usa-banner-button-text line-height-0 margin-t-2px">Here’s how you know</span>
          <span class="usa-banner-button-text--open line-height-0 margin-t-2px">Close this message</span>
        </button>
      </span>
    </div>
  </div>
  <div class="usa-accordion-content" id="gov-banner">
    <p class="font-weight-400 sm:font-weight200 font-sans-16 sm:font-sans-18">
      <strong class="color-indigo-warm-40v">The .gov means it’s official.</strong>
      <br>
      Federal government websites often end in <strong class="font-mono-16 sm:font-mono-18">.gov</strong> or <strong class="font-mono-16 sm:font-mono-18">.mil</strong>. Before sharing sensitive information, make sure you're on a federal government site.
    </p>
    <p class="font-weight-400 sm:font-weight-200 font-sans-16 sm:font-sans-18">
      <strong class="color-indigo-warm-40v">The site is secure.</strong>
      <br>
      The <strong class="font-mono-16 sm:font-mono-18">https://</strong> in the site URL ensures that you are connecting to the official website and any information you provide is encrypted and securely transmitted.
    </p>
  </div>
</div>
