<footer class="usa-body-content color-0 background-color-90 padding-top-1 padding-bottom-4 padding-bottom-4 tablet-plus:padding-top-4 tablet-plus:padding-bottom-6 font-weight-400 background-color-white clearfix is-inverse">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-5">
    <figure class="margin-top-0 margin-left-0 margin-right-auto margin-bottom-2 width-6 display-none">
      <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/gsa-logo.svg' | relative_url }}" alt="A simple square">
    </figure>
    <p class="font-sans-4 margin-y-1 font-weight-700 max-width-none">10x is the The Office of Investments in GSA’s Technology Transformation Service.</p>
    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">10x conforms to <a href="https://www.gsa.gov/website-information/privacy-and-security-notice" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">GSA’s privacy policy</a></p>
    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">10x complies with the <a href="https://www.gsa.gov/about-us/organization/office-of-civil-rights/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">No Fear Act Notification and Federal Employee Anti-Discrimination and Retaliation of 2002</a></p>
    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">Learn more about 10x by sending an email to <a href="mailto:10x@gsa.gov" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">10x@gsa.gov</a></p>
    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">Built with the <a href="https://designsystem.digital.gov/" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">U.S. Web Design System 2.0 alpha</a></p>
    <p class="font-sans-4 margin-y-2"><a href="#0" class="color-70 font-weight-800 padding-2px border-2px line-height-smallest padding-bottom-0 margin-right-1 text-decoration-none hover:color-20">USWDS</a></p>
  </div>
</footer>
