<footer class="usa-body-content color-0 background-color-black-warm-90 padding-top-2 padding-bottom-0 tablet-plus:padding-top-4 font-weight-400 clearfix is-inverse">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-5">
    <figure class="margin-top-0 margin-left-0 margin-right-auto margin-bottom-2 width-6 display-none">
      <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/gsa-logo.svg' | relative_url }}" alt="A simple square">
    </figure>

    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">Learn more about 10x by sending an email to <a href="mailto:{{ site.email }}" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">{{ site.email }}</a></p>
    <p class="font-sans-4 margin-y-1 border-top border-color-70 padding-top-1 max-width-none">Cloned and adapted from the <a href="https://github.com/GSA/10x" class="color-0 text-decoration-color-50 hover:text-decoration-color-10">U.S. General Services Administration</a></p> 

    <div class="margin-x-neg-2 tablet:margin-x-0 margin-top-6 tablet-plus:margin-top-6 border-2 border-bottom-0 border-color-black-80">
      <div class="g-row padding-top-9">
        <div class="g-col-6 margin-x-auto height-9 border-1 border-bottom-0 border-color-black-70">
          <div class="g-row padding-top-5">
            <div class="g-col-2 height-3 margin-x-auto border-p5 border-bottom-0 border-color-black-50">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
