<header class="padding-x-g2 max-width-md margin-x-auto" role="banner">
  <div class="site-title margin-y-0 padding-t-g105 padding-b-g105 margin-l-n02px font-sans-40 font-weight-900 line-height-0"><a href="{{ "/" | relative_url }}" class="color-white text-decoration-none padding-b-g05 border-width-b-g1 border-color-b-red-warm-40v hover:border-color-b-gold-30v">{{ site.title | escape }}</a></div>
  <p class="line-height-2 font-sans-13 black-cool-40 margin-t-g105 margin-b-0 padding-b-g2 font-weight-400">{{ site.description | escape }}</p>
</header>
