<header class="padding-x-g2 max-width-md margin-x-auto" role="banner">
  <div class="site-title margin-y-0 padding-top-g105 padding-bottom-g105 margin-left-n02px font-sans-f14 font-weight-900 line-height-single"><a href="{{ "/" | relative_url }}" class="color-white text-decoration-none padding-bottom-g05 border-bottom-g1 border-bottom-color-red-warm-40v hover:border-bottom-color-gold-30v">{{ site.title | escape }}</a></div>
  <p class="line-height-heading-loose font-sans-f2 black-cool-40 margin-top-g105 margin-bottom-0 padding-bottom-g2 font-weight-400">{{ site.description | escape }}</p>
</header>
