<!-- * * * * * ======================= -->
<!--  * * * *  ======================= -->
<!-- * * * * * ======================= -->
<!--  * * * *  ======================= -->
<!-- ================================= -->
<!-- ================================= -->
<!-- ================================= -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png"  | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/misc/site.webmanifest" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="10x">
  <meta name="application-name" content="10x">
  <meta name="msapplication-TileColor" content="#1c1d1f">
  <meta name="msapplication-config" content="{{ "/assets/misc/browserconfig.xml" | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Social media metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    <meta content="{{ page.description }}" name="twitter:card">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.description }}" name="twitter:card">
  {% endif %}
  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.image %}
    {% comment %} facebook: [1200x627].jpg {% endcomment %}
    {% comment %} twitter:  [1024x512].jpg {% endcomment %}
    <meta content="/img/{{ page.image }}" property="og:image">
    <meta content="/img/{{ page.image }}" name="twitter:image">
  {% else %}
    <meta content="/img/10x-image-facebook.jpg" property="og:image">
    <meta content="/img/10x-image-twitter.png" name="twitter:image">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/10x-fonts.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/10x.min.css" | relative_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% comment %}
  TODO: Add a real RSS feed if necessary
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  {% endcomment %}

  <link rel="preload" href="{{ "/assets/js/uswds.min.js" | relative_url }}" as="script">

  {% if site.environment == 'production' or site.environment == 'development' %}
    {% include dap-script.html %}
  {% endif %}
</head>
