<section class="color-900 padding-bottom-4 background-color-100 clearfix font-sans-4 border-color-70">
  <div class="g-container-tablet-plus padding-top-3 tablet:padding-top-0 padding-x-2 tablet:padding-x-5">
    <div class="g-row g-gap-1 tablet:g-gap">

      {% for item in site.data.contents.nav %}
        {% if item.url != page.url %}
        <div class="g-col mobile-plus:g-col-6 tablet:g-col-fill display-flex">
          <a href="{{ site.baseurl }}{{ item.url }}" class="display-flex flex-direction-column justify-content-flex-start text-decoration-none color-0 card border border-color-50 border-radius-base text-align-center padding-x-2 padding-y-3 align-items-center hover:border-color-white margin-top-1 tablet:margin-top-4 is-inverse width-full">
            <figure class="margin-y-0 margin-x-auto width-4">
              <img class="max-width-full display-block margin-x-auto" src="{{ item.icon_img | relative_url }}" alt="A simple square">
            </figure>
            <p class="line-height-small color-40 margin-0"><strong class="display-block color-4 margin-top-2 margin-bottom-1 font-sans-6 line-height-smaller">{{ item.title }}</strong> {{ item.description }}</p>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
