<div class="project {% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
  {% if project.graduated == true %}
  <p class="phase phase-graduated">Graduated</p>
  {% endif %}
  {% if project.phase %}
  <p class="phase phase-{{ project.phase }}">Phase {{ project.phase }}</p>
  {% endif %}
  <h3 class="title"><a href="{{ project.github_repo }}" title="View this project on GitHub">{{ project.title }}</a></h3>
  <h4 class="deck">{{ project.deck }}</h4>
  <div class="content">
    {{ project.content }}

    <p class="github_repo_link"><a href="{{ project.github_repo }}" title="View GitHub Repo">View project on GitHub »</a></p>

  </div>

</div>
