.Tx__home {
  h2 {
    @include u-font("sans", 10);
    margin-bottom: 0;
    font-weight: 900;
    border: none;
    @include u-padding-top(0);
    @include at-media("tablet") {
      @include u-font("sans", 15);
    }
  }
  &-callout {
    width: 100%;
    @include at-media("tablet") {
      width: auto;
    }
  }
  .usa-title {
    @include u-margin-top(0);
    @include u-margin-bottom(2);
    font-weight: 900;
    letter-spacing: -2px;
    @include at-media("tablet") {
      @include u-margin-bottom(4);
      @include u-font("sans", 18);
    }
    a {
      @include u-color("base-darker");
      text-decoration: none;
    }
    .arrow {
      @include u-color("accent-cool");
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      .arrow {
        @include u-color("accent-warm");
      }
    }
  }

  blockquote {
    p {
      @include u-color("accent-warm");
    }
  }
  .usa-subtitle {
    display: block;
    @include u-margin-bottom(4);

    @include u-font("sans", 11);
    @include at-media("tablet") {
      @include u-font("sans", 13);
    }
    font-weight: 100;
    @include u-color("base-dark");
    line-height: 1.4;
  }

  .tx-learn {
    display: inline-block;

    @include u-padding-x(0);
    @include u-padding-y(4);
    @include u-border-color("black");
    border-bottom: 1px solid;
    @include u-font("sans", "md");
    width: 100%;
    text-align: center;
    @include at-media("tablet") {
      max-width: 280px;
      @include u-margin-left(2);

      @include u-padding-x(2);
      @include u-padding-y(0);
      border-right: 1px solid;
      border-bottom: none;
      @include u-font("sans", "lg");
      text-align: left;
    }

    a {
      @include u-color("black");
      font-weight: 700;
    }
  }
  .LocationMenu {
    @include u-margin-bottom(6);
    @include at-media("tablet") {
      @include u-margin-bottom(10);
    }
  }
}
