/*
$theme-h1-font-size: "2xl";
$theme-h2-font-size: "xl";
$theme-h3-font-size: "lg";
$theme-h4-font-size: "md";
$theme-h5-font-size: "sm";
$theme-h6-font-size: "xs";
*/
.Tx__making-each-dollar-count {
  p {
    width: 80%;
  }

  .Dollars__cards {
    .usa-card {
      .usa-card__container {
        background: none;
        box-shadow: none;
      }
      &:nth-child(1) {
        .usa-card__container {
          background-image: url("~styles/images/our-story-stat-1-background.png");
          background-size: 100% 100%;
          background-position-x: center;
          background-position-y: center;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(2) {
        .usa-card__container {
          background-image: url("~styles/images/our-story-stat-2-background.png");
          background-size: 100% 100%;
          background-position-x: center;
          background-position-y: center;
          background-repeat: no-repeat;
        }
      }

      &__body {
        text-align: center;
        p {
          width: 100%;
        }
      }
    }
  }
}
