/*  =============================================
    CUSTOM PROJECT SASS
    - - - - - - - - - - - - - - - - - - - - - - -
    Custom project SASS goes here!
    You can also @include new files from your
    project directory. These styles can access
    all global and settings variables

    i.e.
    padding-right: $s-spacing-sm;

    - - - - - - - - - - - - - - - - - - - - -  */

*:focus {
  outline: 4px solid $s-color-highlight;
}

.page-content {
  h3 {
    @include font-sans(f10);
    font-weight: $s-fw-xlight;
    line-height: $line-height-heading-loose;
    @include media(md) {
      @include font-sans(f15);
    }
  }
}

*:active:focus {
  outline: 4px solid $indigo-warm-50v;
}

.usa-accordion-content{
  &[aria-hidden=true] {
    display: none;
  }
}

.usa-banner-button-text--open {
  display: none;
}

[aria-expanded=true] {
  > .usa-banner-button-text {
    display: none;
  }
  > .usa-banner-button-text--open {
    display: inline;
  }
}

.usa-body-content {
  h1, h2, h3 {
    line-height: $line-height-heading;
    font-weight: normal;
    @include margin-y(0);
  }
  h2 {
    margin-top: $grid-4;
    @include media(md){
      margin-top: $grid-5;
    }
  }
  h3 {
    margin-top: $grid-3;
    @include font-sans(f6);
    font-weight: $font-weight-xbold;
    @include media(md){
      margin-top: $grid-5;
      @include font-sans(f8);
    }
  }
  p {
    margin-bottom: 0;
    margin-top: $grid-105;
    line-height: $line-height-body;
    @include media(md){
      margin-top: $grid-205;
    }
  }
  ul {
    @include list-reset;
  }
  li {
    @include padding-y(g1);
    border-top: 1px solid $black-20;
    @include media(md){
      @include padding-y($grid-1);
    }
  }
}

.usa-card {
  @include padding-x(g1);
  @include padding-y(g105);
  border: 2px solid $color-black;
  margin-top: $g2;
  border-radius: $g05;

  @include media(md){
    @include padding-x(g2);
    @include padding-y(g3);
    margin-top: $g4;
  }
}
