/*  =============================================
    CUSTOM PROJECT SASS
    - - - - - - - - - - - - - - - - - - - - - - -
    Custom project SASS goes here!
    You can also @include new files from your
    project directory. These styles can access
    all global and settings variables

    i.e.
    padding-rightight: $s-spacing-sm;

    - - - - - - - - - - - - - - - - - - - - -  */

*:focus {
  outline: 4px solid $s-color-highlight;
}

.page-content {
  h3 {
    font-weight: $s-fw-xlight;
    font-size: $u-sans-f10;
    line-height: $u-lh-heading-loose;
    @include media($s-medium-screen) {
      font-size: $u-sans-f15;
    }
  }
}

*:active:focus {
  outline: 4px solid $indigo-warm-50v;
}

.usa-accordion-content{
  &[aria-hidden=true] {
    display: none;
  }
}

.usa-banner-button-text--open {
  display: none;
}

[aria-expanded=true] {
  > .usa-banner-button-text {
    display: none;
  }
  > .usa-banner-button-text--open {
    display: inline;
  }
}

.usa-body-content {
  h1, h2, h3 {
    line-height: $line-height-heading;
    font-weight: normal;
  }
  p {
    margin-top: 1em;
    @include media(md){
      margin-top: 2em;
    }
  }
}
