$thingDir: "~styles/images";
.ProjectList {
  .usa-card {
    break-inside: avoid;

    &.bg1 {
      .usa-card__container {
        background-image: url($thingDir + "/portfolio-paint-stroke-1.png");
        .usa-card__subhead {
          &:before {
            background-image: url("~styles/images/short-brush-stroke.svg");
          }
        }
      }
    }
    &.bg2 {
      .usa-card__container {
        background-image: url($thingDir + "/portfolio-paint-stroke-2.png");
        .usa-card__subhead {
          &:before {
            background-image: url("~styles/images/short-brush-stroke.svg");
          }
        }
      }
    }
    &.bg3 {
      .usa-card__container {
        background-image: url($thingDir + "/portfolio-paint-stroke-3.png");
        .usa-card__subhead {
          &:before {
            background-image: url("~styles/images/short-brush-stroke.svg");
          }
        }
      }
    }
    &.bg4 {
      .usa-card__container {
        background-image: url($thingDir + "/portfolio-paint-stroke-4.png");
        .usa-card__subhead {
          &:before {
            background-image: url("~styles/images/short-brush-stroke.svg");
          }
        }
      }
    }

    * {
      @include u-color("ink");
    }
    &__container {
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);

      @include u-padding-top(8);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      background-size: contain;
    }
    &__heading {
      @include u-font("serif", "xl");
      font-weight: 500;
      @include u-color("primary-darker");
    }
    &__subhead {
      @include u-font("serif", 11);
      &:before {
        display: block;
        content: "";
        background-image: url("~styles/images/short-brush-stroke.svg");
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        height: 12px;
        @include u-margin-y(4);
      }
    }
    &__body {
      p {
        margin-top: 0;
      }
    }
  }

  &__link,
  &__link:hover {
    text-decoration: none;
    @include u-color("ink");
  }
}
