.usa-header {
  @include u-bg("base-darkest");
  @include u-padding-y(2);
  @include u-margin-bottom(10);
  position: relative;
  &:after {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: -38px;
    left: 15%;
    right: 15%;
    content: "";
    background-image: url("~styles/images/header-brush-stroke.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    z-index: -1;
  }
}
