blockquote {
  @include u-font("serif", "xl");
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1;
}

h1 {
  @include u-font("serif", "2xl");
  @include u-margin-bottom(2);
}

h2 {
  @include u-font("serif", "xl");
}
h3 {
  @include u-font("serif", "3xl");
}
h4 {
  @include u-font("serif", "sm");
}
h5 {
  @include u-font("serif", "xs");
}
h6 {
  @include u-font("serif", "3xs");
}

body {
  background: rgb(69, 217, 217);
  background: linear-gradient(
    0deg,
    #{$x-smoke} 60%,
    #{$x-lead} 75%,
    #{$x-charcoal} 100%
  );
}
