.TxContent__cards {
  .grid-row {
    @include u-margin-x(-2);
  }
  .usa-card {
    height: 100%;
    @include u-padding-bottom(4);
    .usa-card__container {
      height: 100%;
      @include u-margin-x(2);
      border: none;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);

      background-size: contain;
      background-position-x: right;
      background-position-y: top;
      background-repeat: no-repeat;
      .usa-card__heading {
        @include u-font("serif", 7);
        @include u-color("base");
        text-transform: uppercase;
        font-weight: 600;
      }

      .usa-card__body {
        padding-top: 0;
        @include u-font("serif", 8);
        @include u-color("primary");
        font-weight: 500;
        .usa-button--unstyled {
          @include u-font("serif", "md");
        }
      }
    }
  }
}
