<!DOCTYPE html>
<html class="min-height-100ct color-white font-family-sans" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="margin-0 font-sans-f6 desktop:font-sans-f8 line-height-base min-height-100ct position-relative">

    <a href="#main-content" class="usa-skipnav color-white overflow-hidden square-1px position-absolute top-0 left-0 font-sans-f1 padding-p5  focus:width-auto focus:height-auto focus:background-color-white focus:color-black">Skip to main content</a>

    <div class="background-color-90 tablet-plus:padding-top-1">
      {% include banner.html %}
      {% include header.html %}
    </div>

    <main id="main-content" class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src="{{ "/assets/js/uswds.min.js" | relative_url }}"></script>
  </body>
</html>
