<!DOCTYPE html>
<html class="minh100ct white" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="m0 sans-6 lg-sans-8 lh-body-tight minh100ct">

    <div class="bg-black-cool-90 white md-pt1">
      {% include banner.html %}
      {% include header.html %}
    </div>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src='{{ "/assets/js/uswds.min.js" | relative_url }}'></script>
  </body>

</html>
