<!DOCTYPE html>
<html class="min-height-100ct color-white font-family-sans" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="margin-0 font-sans-17 lg:font-sans-20 line-height-3 min-height-100ct">

    <div class="background-color-black-cool-90 md:padding-t-g1">
      {% include banner.html %}
      {% include header.html %}
    </div>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src='{{ "/assets/js/uswds.min.js" | relative_url }}'></script>
  </body>

</html>
