---
layout: default
---
<section class="px2 maxw-md mx-auto">
  <h1 class="mb0 mt4 fw900 md-sans-17 ls-n3">Impact multiplied.</h1>
  <p class="fw200 sans-11 lh-cap md-sans-13 md-lh-cap mt1 mb0">We fund ideas from public servants that improve the experience people have with government.</p>

  <div class="mxn2 md-mx0 mt5 md-mt8 h20 bg-gold-30v">
    <div class="pt10">
      <div class="h10 mx-auto w50ct bg-red-warm-40v">
        <div class="pt7">
          <div class="h3 w20ct mx-auto bg-indigo-warm-60v">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white black-cool-90 pt1 pb4 md-pt4 md-pb6">
  <div class="px2 maxw-md mx-auto lh-body">
    <p>10x invests in products and services that possess groundbreaking ideas or technology with the potential for significant return on investment. We’re aiming for 10 times the value of the initial investment to the federal government or the American public, measured through cost savings, improved efficiencies, or scale of impact.</p>
    <p>10x funds products and services that scale widely or affect a significant portion of the U.S. population, whether or not the projects are cost-recoverable.</p>
    <p>Our approach is based on modern venture capital practices and is designed to spend fewer taxpayer dollars while also ensuring that the best products and services get funded.</p>
    <p>Learn more about 10x by sending a message to <a href="mailto:10x@gsa.gov">10x@gsa.gov</a></p>

  </div>
</section>
