---
layout: default
bg_color: black
---
<section class="color-black-warm-90">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto padding-bottom-6 tablet:padding-x-5">
    <h1 class="margin-y-0 padding-top-4 tablet-plus:padding-top-4 font-weight-900 font-sans-14 tablet-plus:font-sans-18 letter-spacing-tightest line-height-smaller"><a href="{{ site.baseurl }}{% link _pages/send-us-an-idea.md %}"  class="color-black-cool-80 text-decoration-none hover:text-decoration-underline">Fund your idea</a> <span class="color-indigo-warm-50v">→</span></h1>
    <p class="font-weight-100 font-sans-11 line-height-small tablet-plus:font-sans-13 margin-top-1 tablet:margin-top-2 margin-bottom-0 color-black-warm-70">10x helps turn ideas from federal employees into real projects that improve the experience people have with our government.</p>
    <div class="g-row margin-top-2 tablet:margin-top-4 tablet:display-flex tablet:align-items-center clearfix">
      <a href="{{ site.submission_form }}" class="g-col tablet:g-col-auto background-color-red-warm-50v color-white padding-2 border-radius-small tablet:margin-right-5 text-decoration-none hover:background-color-indigo-warm-50v text-align-center margin-top-2 tablet:margin-top-0"><strong class="tablet:font-sans-8">Pitch an idea</strong><span class="font-sans-6 font-weight-300 display-block color-white">using our Google form</span></a>
      <div class="g-col-fill g-row">
        <p class="g-col tablet-plus:g-col-fill color-black-warm-80 font-sans-6 tablet-plus:font-sans-8 line-height-small margin-top-2 margin-bottom-0 tablet:margin-y-0 font-weight-300">Learn about <a href="{{ site.baseurl }}{% link _pages/send-us-an-idea.md %}" class="color-black-warm-80 text-decoration-color-red-warm-50v hover:text-decoration-color-indigo-warm-50v font-weight-700">what we’re looking for in a pitch</a>.</p>
        <p class="g-col tablet-plus:g-col-fill color-black-warm-80 font-sans-6 tablet-plus:font-sans-8 line-height-small margin-top-2 tablet:margin-top-p5 tablet:margin-bottom-0 tablet-plus:margin-top-0  tablet-plus:border-left tablet-plus:padding-left-4 border-color-red-50 font-weight-300">You can also email your idea <span class="white-space-nowrap">to <a href="mailto:{{ site.email }}" class="color-black-warm-80 text-decoration-color-red-50v hover:text-decoration-color-indigo-warm-50v font-weight-700">{{ site.email }}</a>.</span></p>
      </div>
      <p class="font-sans-6 line-height-small tablet-plus:font-sans-6 margin-top-0 font-weight-300 tablet:font-weight-400 tablet:margin-top-6 margin-bottom-0 color-black-warm-70">Currently, this program is only open to members of the Federal Acquisition Service.</p>
    </div>

    {% comment %}
    <div class="graphic-outer-rectangle margin-x-neg-2 tablet:margin-x-0 margin-top-2 tablet-plus:margin-top-2 background-color-yellow-5">
      <div class="g-row padding-top-9">
        <div class="graphic-middle-rectangle g-col-6 margin-x-auto height-9 background-color-indigo-warm-70">
          <div class="g-row padding-top-6">
            <div class="graphic-inner-rectangle g-col-2 height-3 margin-x-auto background-color-black-90">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</section>

<section class="color-900 padding-bottom-4 background-color-100 clearfix font-sans-4 border-color-70">
  <div class="g-container-tablet-plus padding-top-3 tablet:padding-top-0 padding-x-2 tablet:padding-x-5">
    <div class="g-row g-gap-1 tablet:g-gap">
      <div class="g-col mobile-plus:g-col-6 tablet:g-col-fill display-flex">
        <a href="{{ site.baseurl }}{% link _pages/about-10x.md %}" class="display-flex flex-direction-column justify-content-flex-start text-decoration-none color-0 card border border-color-50 border-radius-base text-align-center padding-x-2 padding-y-3 align-items-center hover:border-color-white margin-top-1 tablet:margin-top-4 is-inverse width-full">
          <figure class="margin-y-0 margin-x-auto width-4">
            <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/10x-image-1.svg' | relative_url }}" alt="A simple square">
          </figure>
          <p class="line-height-small color-40 margin-0"><strong class="display-block color-4 margin-top-2 margin-bottom-1 font-sans-6 line-height-smaller">About 10x</strong> What does 10x do? Where did this program come from?</p>
        </a>
      </div>
      <div class="g-col mobile-plus:g-col-6 tablet:g-col-fill display-flex">
        <a href="{{ site.baseurl }}{% link _pages/send-us-an-idea.md %}" class="display-flex flex-direction-column justify-content-flex-start text-decoration-none color-0 card border border-color-50 border-radius-base text-align-center padding-x-2 padding-y-3 align-items-center hover:border-color-0 margin-top-1 tablet:margin-top-4 is-inverse width-full">
          <figure class="margin-y-0 margin-x-auto width-4">
            <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/10x-image-2.svg' | relative_url }}" alt="A simple square">
          </figure>
          <p class="line-height-small color-40 margin-0"><strong class="display-block color-4 margin-top-2 margin-bottom-1 font-sans-6 line-height-smaller">Send us an idea</strong> How do you get your idea to 10x? What is 10x looking for?</p>
        </a>
      </div>
      <div class="g-col mobile-plus:g-col-6 tablet:g-col-fill display-flex">
        <a href="{{ site.baseurl }}{% link _pages/the-10x-process.md %}" class="display-flex flex-direction-column justify-content-flex-start text-decoration-none color-0 card border border-color-50 border-radius-base text-align-center padding-x-2 padding-y-3 align-items-center hover:border-color-0 margin-top-1 tablet:margin-top-4 is-inverse width-full">
          <figure class="margin-y-0 margin-x-auto width-4">
            <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/10x-image-3.svg' | relative_url }}" alt="A simple square">
          </figure>
          <p class="line-height-small color-40 margin-0"><strong class="display-block color-4 margin-top-2 margin-bottom-1 -sans-6 line-height-smaller">The 10x process</strong> What happens if your idea is selected?</p>
        </a>
      </div>
      {% comment %}
      <div class="g-col mobile-plus:g-col-6 tablet:g-col-fill display-flex">
        <a href="{{ site.baseurl }}{% link _pages/updates.md %}" class="display-flex flex-direction-column justify-content-flex-start text-decoration-none color-0 card border border-color-50 border-radius-base text-align-center padding-x-2 padding-y-3 align-items-center hover:border-color-0 margin-top-1 tablet:margin-top-4 is-inverse width-full">
          <figure class="margin-y-0 margin-x-auto width-4">
            <img class="max-width-full display-block margin-x-auto" src="{{ '/assets/img/10x-image-4.svg' | relative_url }}" alt="A simple square">
          </figure>
          <p class="line-height-small color-40 margin-0"><strong class="display-block color-4 margin-top-2 margin-bottom-1 font-sans-6 line-height-smaller">Updates</strong> How are current 10x projects performing?</p>
        </a>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>

<section class="usa-body-content color-black-90 padding-top-1   padding-bottom-6 tablet-plus:padding-top-4 tablet-plus:padding-bottom-8 font-weight-300 background-color-0 clearfix">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-5">

    <h2 class="font-weight-900 font-sans-10 tablet-plus:font-sans-15 margin-bottom-0 padding-top-0">First, send 10x your idea.</h2>
    <p class="font-sans-9 tablet-plus:font-sans-12 font-weight-300 margin-top-2px tablet-plus:margin-top-1 margin-bottom-3 tablet-plus:margin-bottom-0 line-height-smaller color-red-warm-50">It’s easy to submit an idea and we want to hear yours.</p>
    <p>10x is currently accepting ideas to be considered for funding from Federal Acquisition Service (FAS) employees. <strong>The window to submit your idea is open until June 1, 2018.</strong> It’s easy to submit an idea to 10x and we want to hear yours. Either send 10x your idea via our <a href="{{ site.submission_form }}">Google form</a>, or send it to us as <a href="mailto:{{ site.email }}">an email</a>. </p>

    <h3><strong>10x is looking for ideas that:</strong></h3>

    <ul class="line-height-small tablet:line-height-base">
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Have an impact on the federal government or on the public.
      </li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Improve the public’s experience with government through technology.</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Improve how government builds and shares technology to better serve the public.</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Are part of a big or rapidly growing market in government technology.</li>
    </ul>

    <h3><strong>How should you present your idea? Your idea should:</strong></h3>

    <ul class="line-height-small tablet:line-height-base">
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Be no more than three sentences long.</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Demonstrate a clear understanding of the problem you want to solve.</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Focus of creating a new product or service that is good for government.</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        Be as clear and descriptive as possible.</li>
    </ul>

    <p>As we scale this program it’s important that 10x hears ideas from all over the federal government. Your idea is valuable. If you need help putting together an idea or have questions about what we’re looking for, email us at <a href="mailto:10x@gsa.gov">10x@gsa.gov</a>. We’re happy to connect you with a technology expert or someone to review what you have and make sure your idea is clear.</p>

    <a href="{{ site.baseurl }}{% link _pages/send-us-an-idea.md %}" class="text-decoration-none font-weight-700 background-color-red-warm-50v hover:background-color-indigo-warm-50v color-white padding-x-2 padding-y-1 border-radius-small margin-right-3 white-space-nowrap float-left margin-top-5 font-sans-6 tablet:padding-2 tablet:font-sans-7 is-inverse">Develop your best 10x idea →</a>

  </div>
</section>

<section class="usa-body-content color-black-90 padding-top-1   padding-bottom-6 tablet-plus:padding-top-4 tablet-plus:padding-bottom-8 font-weight-300 background-color-0 clearfix border-top-p5 border-color-black-cool-5">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-5">

    <h2 class="font-weight-900 font-sans-10 tablet-plus:font-sans-15 margin-bottom-0 padding-top-0">Then, 10x goes to work.</h2>
    <p class="font-sans-9 tablet-plus:font-sans-12 font-weight-300 margin-top-2px tablet-plus:margin-top-1 margin-bottom-3 tablet-plus:margin-bottom-0 line-height-smaller color-red-warm-50">10x evaluates ideas and funds those with promise.</p>
    <p>When the submission period ends on June 1, 2018, 10x goes to work evaluating all the ideas from this period and recommending a selection of those ideas for its incremental project funding.</p>

    <p>Your idea will be evaluated based on the following 3 criteria, each given equal weight:</p>

    <ul class="line-height-small tablet:line-height-base">
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        <strong>Clarity.</strong> Does the idea understand and explain a real problem?</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        <strong>Alignment.</strong> Does the idea help develop new, good-for-government technology?</li>
      <li class="text-indent-neg-3 padding-left-3 tablet:text-indent-neg-4 tablet:padding-left-4">
        <img class="display-line-block width-2 tablet:width-3 margin-right-p5 position-relative bottom-2px vertical-align-middle" src="{{ '/assets/img/check.svg' | relative_url }}" alt="check">
        <strong>Impact.</strong> Does solving this problem have an important effect on the federal government or the public?</li>
    </ul>

    <p>If selected, 10x starts its funding small — only magnifying its investment <a href="{{ site.baseurl }}{% link _pages/the-10x-process.md %}">as an idea develops, step-by-step, into a sustainable project</a>. This iterative approach, based on modern technology and investment practices, ensures that the best ideas turn into the best government products and services — funded with fewer taxpayer dollars.</p>

    <p>10x projects are managed and staffed by project teams within the <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Techology Transformation Services</a> department of the <a href="https://www.gsa.gov/">General Services Administration</a>.</p>

    <a href="{{ site.baseurl }}{% link _pages/the-10x-process.md %}" class="text-decoration-none font-weight-700 background-color-red-warm-50v hover:background-color-indigo-warm-50v color-white padding-x-2 padding-y-1 border-radius-small margin-right-3 white-space-nowrap float-left margin-top-5 font-sans-6 tablet:padding-2 tablet:font-sans-7 is-inverse">Learn about the 10x process →</a>

  </div>
</section>
