---
layout: default
---
<section class="background-color-black-cool-90 color-white">
  <div class="padding-x-g2 max-width-md margin-x-auto">
    <h1 class="md:text-align-center margin-y-0 padding-t-g4 md:padding-t-g2 font-weight-900 md:font-sans-64 letter-spacing-n3">Impact multiplied.</h1>
    <p class="md:text-align-center font-weight-200 font-sans-28 line-height-2 md:font-sans-36 margin-t-g1 margin-b-0">We fund ideas from public servants that improve the experience people have with government.</p>

    <div class="margin-x-ng2 md:margin-x-0 margin-t-g5 md:margin-t-g6 height-g20 background-color-gold-30v">
      <div class="padding-t-g10">
        <div class="height-g10 margin-x-auto width-50ct background-color-red-warm-40v">
          <div class="padding-t-g7">
            <div class="height-g3 width-20ct margin-x-auto background-color-indigo-warm-60v">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="background-color-white color-black-cool-90 padding-t-g1 padding-b-g4 md:padding-t-g4 md:padding-b-g6">
  <div class="padding-x-g2 max-width-md margin-x-auto line-height-4">
    <p>10x invests in products and services that possess groundbreaking ideas or technology with the potential for significant return on investment. We’re aiming for 10 times the value of the initial investment to the federal government or the American public, measured through cost savings, improved efficiencies, or scale of impact.</p>
    <p>10x funds products and services that scale widely or affect a significant portion of the U.S. population, whether or not the projects are cost-recoverable.</p>
    <p>Our approach is based on modern venture capital practices and is designed to spend fewer taxpayer dollars while also ensuring that the best products and services get funded.</p>
  </div>
</section>
