---
layout: default
---

<section class="background-color-90 color-white is-inverse padding-bottom-s4">
  <div class="padding-x-s2 max-width-tablet-plus margin-x-auto tablet:padding-x-s5">
    <h1 class="margin-y-0 padding-top-s4 tablet-plus:padding-top-s4 font-weight-900 tablet-plus:font-sans-f16 letter-spacing-tightest">{{ page.title }}</h1>
    <p class="font-weight-200 font-sans-f11 line-height-small tablet-plus:font-sans-f11 tablet-plus:line-height-base margin-top-s1 margin-bottom-0">{{ page.description }}</p>
  </div>
</section>

<section class="usa-body-content color-black-90 padding-top-s1   padding-bottom-s4 tablet-plus:padding-top-s4 tablet-plus:padding-bottom-s8 font-weight-300 background-color-0 clearfix">
  <div class="padding-x-s2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-s5">

<article class="usa-body-content padding-x-0 max-width-tablet-plus margin-x-auto line-height-large color-90">
    {{ content }}
</article>
