---
layout: default
---

<section class="background-color-90 color-white is-inverse padding-bottom-4">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto tablet:padding-x-5">
    <h1 class="margin-y-0 padding-top-4 tablet-plus:padding-top-4 font-weight-900 tablet-plus:font-sans-16 letter-spacing-tightest">{{ page.title }}</h1>
    <p class="font-weight-200 font-sans-11 line-height-small tablet-plus:font-sans-11 tablet-plus:line-height-base margin-top-1 margin-bottom-0">{{ page.description }}</p>
  </div>
</section>

<section class="usa-body-content color-black-90 padding-top-1   padding-bottom-4 tablet-plus:padding-top-4 tablet-plus:padding-bottom-8 font-weight-300 background-color-0 clearfix">
  <div class="padding-x-2 max-width-tablet-plus margin-x-auto line-height-large tablet:padding-x-5">

<article class="usa-body-content padding-x-0 max-width-tablet-plus margin-x-auto line-height-large color-90">
    {{ content }}
</article>
