<!DOCTYPE html>
<html class="min-height-100ct color-black-90 font-family-sans" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="margin-0 font-sans-f6 lg:font-sans-f8 line-height-base min-height-100ct">
    {% include banner.html %}

    <main class="usa-body-content padding-base padding-bottom-double md:padding-double md:padding-bottom-triple max-width-measure-small margin-x-auto" aria-label="Content">
      {{ content }}
    </main>

    <script src="https://10x.gsa.gov/assets/js/uswds.min.js"></script>
  </body>

</html>
