/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@import "~styles/font-awesome/fontAwesome";

@import "~styles/components/banner";
@import "~styles/components/button";
@import "~styles/components/card";
@import "~styles/components/colorBox";
@import "~styles/components/footer";
@import "~styles/components/header";
@import "~styles/components/list";
@import "~styles/components/loading";
@import "~styles/components/locationMenu";
@import "~styles/components/logo";
@import "~styles/components/primaryNav";
@import "~styles/components/projectCard";
@import "~styles/components/projectStatus";

@import "~styles/pages/content";
@import "~styles/pages/homepage";
@import "~styles/pages/project";

main#main-content {
  border: none;
}
